﻿<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <hgroup>
        <h2>Oops, something went wrong!</h2>
    </hgroup>
    <form action="@Url.Action("GetEmployee")" method="post">
        <input type="submit" value="Try Again" class="btn btn-success btn-group-sm" />
    </form>
    <img src="https://lc-www-live-s.legocdn.com/r/www/-/media/portal%20v2010/errors/404%20mainstage%20image.jpg?l.r2=1953967734" alt="Alternate Text" class="img-responsive" />
</body>
</html>
