﻿@{
    string _url = ViewBag._url;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDQ Profile</title>
</head>
<body>
    <table class="table table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Drink
            </th>
        </tr>
        <tr>
            <td>
                @ViewBag.Name
            </td>
            <td>
                @ViewBag.Drink
            </td>
        </tr>
    </table>
    <div>
        <img id="image2" src="@Url.Content(_url)" alt="Alternate Text" width="75" height="75" style="display:none;">
        <br /><br />
        <form action="@Url.Action("GetEmployee")" method="post">
            <input type="button" id="broadcast" value="Get Profile Image" class="btn btn-default btn-group-sm" />
            <input type="submit" value="New Employee" class="btn btn-default btn-group-sm" />
        </form>
    </div>

    @Scripts.Render("~/bundles/PDQBundle")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/PDQHub")
</body>
</html>

